h1{
	color: red; 
	background-color : green; 
}
p {
	color: white ;
	background-color: black;
}
h2{
	text-align: center; 
	font-size:34px;
}
h3{
	text-align: right; 
	color : darkblue;
	background-color: yellow;
}
